Repository jacobodeharo/react-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext, pretty-quick --staged

ci: version bump to v0.0.2
  package-lock.json
  package.json
Due: pretty-quick --staged

Update README.md
  README.md
Due: pretty-quick --staged

ci: version bump to v0.0.3
  package-lock.json
  package.json
Due: pretty-quick --staged

[skip ci] Try
  .github/workflows/ci.yml
Due: none

[skip ci] Update README.md
  README.md
Due: pretty-quick --staged

Prepare chunks for components lazy-loading
  rollup.config.js
  src/components/Anchor/Anchor.lazy.ts
  src/components/Button/Button.lazy.ts
  src/index.ts
Due: eslint --fix --ext

ci: version bump to v0.0.4
  package-lock.json
  package.json
Due: pretty-quick --staged

Move exclusively to ESM modules bundles
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix --ext, pretty-quick --staged

ci: version bump to v0.0.5
  package-lock.json
  package.json
Due: pretty-quick --staged

Improve project configuration
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/components/Anchor/Anchor.stories.tsx
  src/components/Anchor/Anchor.styles.tsx
  src/components/Anchor/Anchor.types.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.styles.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.types.ts
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Tabs/Panel/Panel.test.tsx
  src/components/Tabs/Panel/Panel.types.ts
  src/components/Tabs/Panel/__snapshots__/Panel.test.tsx.snap
  src/components/Tabs/Selector/Selector.styles.tsx
  src/components/Tabs/Selector/Selector.test.tsx
  src/components/Tabs/Selector/Selector.types.ts
  src/components/Tabs/Selector/__snapshots__/Selector.test.tsx.snap
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/theme/index.ts
  src/components/theme/theme.types.ts
  src/components/theme/variants/index.ts
  src/core/ErrorBoundary/ErrorBoundary.test.tsx
  src/core/ErrorBoundary/ErrorBoundary.tsx
  src/core/ErrorBoundary/ErrorBoundary.types.ts
  src/helper/reactDomUtils.tsx
  src/index.ts
  tsconfig.json
  typings/theme.d.ts
Due: eslint --fix --ext, pretty-quick --staged

ci: version bump to v0.0.6
  package-lock.json
  package.json
Due: pretty-quick --staged

Improve project configuration
  .eslintrc
  .storybook/main.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/components/Anchor/Anchor.stories.tsx
  src/components/Anchor/Anchor.styles.tsx
  src/components/Anchor/Anchor.types.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.styles.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.types.ts
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Tabs/Panel/Panel.test.tsx
  src/components/Tabs/Panel/Panel.types.ts
  src/components/Tabs/Panel/__snapshots__/Panel.test.tsx.snap
  src/components/Tabs/Selector/Selector.styles.tsx
  src/components/Tabs/Selector/Selector.test.tsx
  src/components/Tabs/Selector/Selector.types.ts
  src/components/Tabs/Selector/__snapshots__/Selector.test.tsx.snap
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/theme/index.ts
  src/components/theme/theme.types.ts
  src/components/theme/variants/index.ts
  src/core/ErrorBoundary/ErrorBoundary.test.tsx
  src/core/ErrorBoundary/ErrorBoundary.tsx
  src/core/ErrorBoundary/ErrorBoundary.types.ts
  src/helper/reactDomUtils.tsx
  src/index.ts
  tsconfig.json
  typings/theme.d.ts
Due: eslint --fix --ext, pretty-quick --staged

jacobodeharo published a site update
  iframe.html
  index.html
  main.2bddeebbb8ff309a7a3a.bundle.js
  main.78ddef637b1501c59f63.bundle.js
  main.78ddef637b1501c59f63.bundle.js.map
  main.81ffd99f376a25e9673b.bundle.js
  main~24120820.71453e424bc8a68b4728.bundle.js
  main~24120820.71453e424bc8a68b4728.bundle.js.map
  runtime~main.71453e424bc8a68b4728.bundle.js
  runtime~main.71453e424bc8a68b4728.bundle.js.map
  runtime~main.78ddef637b1501c59f63.bundle.js.map
  vendors~main.39ccf16ab19c65c1d169.bundle.js
  vendors~main.39ccf16ab19c65c1d169.bundle.js.LICENSE.txt
  vendors~main.78ddef637b1501c59f63.bundle.js
  vendors~main.78ddef637b1501c59f63.bundle.js.map
  vendors~main.89e56f626caa07565a6b.bundle.js
  vendors~main~1f20a385.71453e424bc8a68b4728.bundle.js
  vendors~main~1f20a385.71453e424bc8a68b4728.bundle.js.LICENSE.txt
  vendors~main~1f20a385.71453e424bc8a68b4728.bundle.js.map
  vendors~main~2a42e354.71453e424bc8a68b4728.bundle.js
  vendors~main~2a42e354.71453e424bc8a68b4728.bundle.js.LICENSE.txt
  vendors~main~2a42e354.71453e424bc8a68b4728.bundle.js.map
  vendors~main~41a6ab2c.71453e424bc8a68b4728.bundle.js
  vendors~main~41a6ab2c.71453e424bc8a68b4728.bundle.js.LICENSE.txt
  vendors~main~41a6ab2c.71453e424bc8a68b4728.bundle.js.map
Due: eslint --fix --ext, pretty-quick --staged

Change import by require for module-alias/register
  src/index.ts
Due: eslint --fix --ext

ci: version bump to v0.0.7
  package-lock.json
  package.json
Due: pretty-quick --staged

Fix issue with alias by using rollup-plugin-typescript-paths
  package-lock.json
  package.json
  rollup.config.js
  src/index.ts
Due: eslint --fix --ext, pretty-quick --staged

ci: version bump to v0.0.8
  package-lock.json
  package.json
Due: pretty-quick --staged

Provide building of ESM and CommonJS modules
  rollup.config.js
Due: eslint --fix --ext

ci: version bump to v0.0.9
  package-lock.json
  package.json
Due: pretty-quick --staged

Path conditions:
  eslint --fix --ext: any of: *.{js,jsx,mjs,ts,tsx}
  pretty-quick --staged: any of: *.{scss,css,md,mdx,html,json}
